body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u1 {
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:9px;
  width:250px;
  height:31px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:31px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u3 {
  position:absolute;
  left:20px;
  top:214px;
  width:50px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:113px;
  top:214px;
  width:50px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:211px;
  top:212px;
  width:50px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:307px;
  top:209px;
  width:50px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:10px;
  top:308px;
  width:170px;
  height:253px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:196px;
  top:305px;
  width:170px;
  height:253px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:0px;
  top:561px;
  width:375px;
  height:105px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:105px;
}
#u10 {
  position:absolute;
  left:2px;
  top:44px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:190px;
  top:580px;
  width:176px;
  height:253px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:253px;
}
#u12 {
  position:absolute;
  left:2px;
  top:118px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:7px;
  top:580px;
  width:176px;
  height:253px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:253px;
}
#u14 {
  position:absolute;
  left:2px;
  top:118px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:193px;
  top:580px;
  width:170px;
  height:253px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:0px;
  top:580px;
  width:170px;
  height:253px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:0px;
  top:843px;
  width:375px;
  height:47px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
}
#u18 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:23px;
  top:844px;
  width:27px;
  height:44px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:44px;
}
#u20 {
  position:absolute;
  left:2px;
  top:14px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:86px;
  top:844px;
  width:27px;
  height:44px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:44px;
}
#u22 {
  position:absolute;
  left:2px;
  top:14px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:253px;
  top:844px;
  width:27px;
  height:44px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:44px;
}
#u24 {
  position:absolute;
  left:2px;
  top:14px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:324px;
  top:845px;
  width:27px;
  height:44px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:44px;
}
#u26 {
  position:absolute;
  left:2px;
  top:14px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:170px;
  top:846px;
  width:27px;
  height:44px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:44px;
}
#u28 {
  position:absolute;
  left:2px;
  top:14px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:77px;
  top:845px;
  width:48px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30 {
  position:absolute;
  left:160px;
  top:846px;
  width:48px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31 {
  position:absolute;
  left:242px;
  top:844px;
  width:48px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u32 {
  position:absolute;
  left:314px;
  top:845px;
  width:48px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
